

.slider-block {
    height: 90vh;
    display:  flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.carousel-slider{
    position: relative;
    margin: auto;    
    
}
.slide{
 
    justify-content: space-around;
    flex-wrap: wrap;
    
    text-align:center;
}

.slide_item{
    position: relative;
    margin: 1rem 2.5rem;

}

.slide_item img{
    width: 25rem;
    height: 25rem;
    object-fit: fill;
    box-shadow:  0 2px 11px #000;
}

.slider-block_prvBtn, .slider-block_nxtBtn {
    position: absolute;
    top: 40%;
    padding: 1rem;
    cursor: pointer;
    color: #aaa;
    font-weight: bold;
    font-size: 1.8rem;
    transition: 0.6s ease;
    border-radius: 2px 0 0 2px;
}
.slider-block_nxtBtn {
    right: 0;
}


.slider-block_prvBtn:hover,
.slider-block_nxtBtn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.slider-rounds{
    display: absolute;
    text-align: center;
    bottom: 0;
}
.slider-rounds_item{
   
    width: 0.8rem;
    height: 0.8rem;
    display: inline-block;
    margin: .5rem;
    cursor: pointer;
    background-color: #ddd;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.active, .slider-rounds_item:hover {
    background-color: #aaa;
}


.carousel-slider .slide {
    animation-name: jump;
    animation-duration: 1s;
}

@keyframes jump {
    from {
        opacity: .6;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1460px){
    html{
        font-size: 14px;
    }
}

@media (max-width: 990px){
    html{
        font-size: 8px;
    }
    img{
        width: 18rem;
        height: 18rem;
    }
}

@media (max-width: 610px){
    html{
        font-size: 5px;
    }
    img{
        width: 10rem;
        height: 10rem;
    }
}



